In [14]:
import numpy as np
import scipy

In [5]:
for i in range(5, 11):
    print(i)

5
6
7
8
9
10

In [7]:
A = [[1, 2, 3.5],[7, 8, 9], [2, 3, 4]]
print(A)

[[1, 2, 3.5], [7, 8, 9], [2, 3, 4]]

In [10]:
#mencari dimensi A
len (A)

3

In [13]:
np.diag(A)

array([1., 8., 4.])

In [15]:
# MENCARI DETERMINAN A
from scipy.linalg import det
D=det(A)
print(D)

2.499999999999998

In [19]:
# Menghitung Nilai Eigen
from scipy.linalg import det, eig
A = [[-3, 2], [-2, 2]]
print (A)
Lamda = eig(A)
print (Lamda)

[[-3, 2], [-2, 2]]
(array([-2.+0.j,  1.+0.j]), array([[-0.89442719, -0.4472136 ],
       [-0.4472136 , -0.89442719]]))

In [25]:
import pandas as pd
data_mentah = {'nama depan' : ['Anna', 'Budi', 'Caida', 'Didit', 'Emmy'], 'nama belakang':['Parhusip', 'Pradokso', 'Ellah', 'Nugroho', 'Sulistyowati'], 'umur' : [42, 52, 36, 24, 73], 'Nilaitestawal':[4, 24, 31, 2, 3], 'Nilaitestakhir':[25, 94, 57, 62, 70]}
df = pd.DataFrame(data_mentah, columns = ['nama depan', 'nama belakang', 'umur', 'Nilaitestawal', 'Nilaitestakhir'])
df

  nama depan nama belakang  umur  Nilaitestawal  Nilaitestakhir
0       Anna      Parhusip    42              4              25
1       Budi      Pradokso    52             24              94
2      Caida         Ellah    36             31              57
3      Didit       Nugroho    24              2              62
4       Emmy  Sulistyowati    73              3              70

In [ ]:
# menyimpan data dengan file